*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}


:root {
    --neon_1:hsl(317 100% 54%);
    --neon_2:hsl(323 21% 16%);
}


body {
    height: 100%;
    width: 100%;
    background-color: #151619;
}

.insane {
max-width: 150rem;
height:100vh;
margin: 50px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content:center;
align-items:center;
}


.header {
    background-color: #252830;
    position: relative;
    top:0;
    left: 0;
    width:100%;
    z-index: 99;
    
}


img{
   
    height: 400px; 
    width: 300px; 
    object-fit: cover;
    object-position:  45% 25%;
    border:
}

/* Animation */

.overview {
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
     width: 300px;
     height: 400px;
     margin: 40px 30px;
     z-index: 1;
     /* box-shadow: 0 0 1.5em 0 hsl(317 100% 54%); */
    
 }

.overview:hover{
 transform: scale(1.1);
}

.boxshadow:hover {
    box-shadow: 0 0 1.5em 0 hsl(317 100% 54%);
}

.content{
 margin-top: 40px;
 margin-bottom: 40px;

    
}


