@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,700;1,200;1,300;1,400&family=Staatliches&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}


:root {
    --neon_1:hsl(317 100% 54%);
    --neon_2:hsl(323 21% 16%);
}


body {
    min-height:100vh;
    width: 100%;
    background-color: rgba(18, 18, 18, 1);
    background-image: linear-gradient(221deg, rgba(18, 18, 18, 1) 59%, rgba(74, 74, 76, 1) 100%);
    font-size: 2rem;
}



.header {
    background-color: #252830;
    position: relative;
    top:0;
    left: 0;
    width:100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(10, 233, 129);
    
    
}


img.model{
   
    height: 400px; 
    width: 300px; 
    object-fit: cover;
    object-position:  45% 15%;
    
    
}

/* Animation */




.content{
 margin-top: 40px;
 margin-bottom: 40px;
}






/* Members */
.container {
    min-height:100vh;
    width: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
}

.card {

    width: 360px;
    height:456px;
    padding:40px 30px;
    margin:40px;
    border-radius: 0.3em;
  
    
}

.card .member {
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}



.card .member .member-ing {
    width: 260px;
    height:300px;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
    
}

.card .member .member-ing .model {
    object-fit: cover;
    position:absolute;
    width: 100%;
    height:100%;
    top: 0;
    left: 0;
}

.member-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.member-info h4 {
    font-weight:500;
    letter-spacing: 1px;
    margin-bottom: 6px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   

}

.member-info h5 {
    font-weight: bold;
    letter-spacing: 1px;
    font-weight:500;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}


/* Icon animation  */
.card .member .social {
    position: absolute;
    left: 0;
    bottom:15px;
    right: 0;
    opacity: 0;
    transition:ease-in-out .3s;
    text-align: center;
    
}


.card .member:hover .social {
    bottom:10px;
    opacity: 1;

}



img.icon {
    width:30px; 
    height:30px;
    margin: 0 3px;
    padding-top: 7px;
    border-radius:0.3em;
    
    

}




.card_1  {
    background-color: rgba(224, 126, 11, 1);
background-image: radial-gradient(circle, rgba(224, 126, 11, 1) 0%, rgba(92, 62, 39, 1) 100%);
    box-shadow: 0.6em 0.6em 1.2em #e6d115ba,
                -0.5em -0.5em 1.2em #e39f0a;
}

.card_2  {
    background-color: rgba(138, 125, 131, 1);
background-image: radial-gradient(circle, rgba(138, 125, 131, 1) 0%, rgba(0, 0, 0, 1) 100%);
    box-shadow: 0.6em 0.6em 1.2em #393935,
    -0.5em -0.5em 1.2em #45443f;
}

.card_3  {
    box-shadow: 0.6em 0.6em 1.2em #0ce9e5,
    -0.5em -0.5em 1.2em #0ad8e3;
    background-color: rgba(64, 212, 203, 1);
    background-image: radial-gradient(circle, rgba(64, 212, 203, 1) 0%, rgba(51, 83, 173, 1) 100%);
}

.card_4  {
    background-color: rgba(212, 64, 125, 1);
background-image: radial-gradient(circle, rgba(212, 64, 125, 1) 0%, rgba(0, 0, 0, 1) 100%);
    box-shadow: 0.6em 0.6em 1.2em #e009a3,
    -0.5em -0.5em 1.2em #f51243;
}

.card_1 h4 , .card_1 h5 {
    color: rgb(49, 36, 18);
    font-size: 1.9rem;
} 

.card_2 h4 ,.card_2 h5 {
    color: rgb(190, 172, 172);
    font-size: 1.9rem;
}

.card_3 h4 ,.card_3 h5 {
    color: rgb(55, 6, 119);
    font-size: 1.9rem;
}

.card_4 h4 , .card_4 h5 {
    color: rgb(231, 9, 171);
    font-size: 1.9rem;
}



/* Animation */

.spin {
    animation-name: spin;
        animation-duration: 1000ms;
        animation-iteration-count: 10;
        animation-timing-function: linear;
    }
    
    @keyframes spin {
        from {transform:rotate(0deg);}
        to {transform:rotate(360deg);}
    }
    

.flip {
    animation-name: flipp;
        animation-duration: 1000ms;
        animation-iteration-count: 10;
        animation-timing-function: linear;
    }
    
    @keyframes flipp {
        from {transform:rotateX(0deg);}
        to {transform:rotateX(360deg);}
    }

    


    .glitter {
        background-image:url(/Free_NFT/images/gliter.gif) ;
        background-size: cover;
    }