/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

/* Custom properties */

:root{
--font-size-xsm:1.2rem;
--font-size-sm:1.6rem;
--font-size-md:2.4rem;
}

/* Base styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    min-height:100vh;
    width: 100%;
    background-color: rgba(18, 18, 18, 1);
background-image: linear-gradient(221deg, rgba(18, 18, 18, 1) 59%, rgba(74, 74, 76, 1) 100%);
    font-size: 2rem;
}





ul{
    list-style: none;   
}

a{
    text-decoration:none;
    color:rgb(183, 255, 0);
    
}



button{
    font: inherit;
    border: none;
    outline: none;
    background: transparent;
    color:rgb(189, 88, 66);
    cursor: pointer;
}
/*Styles*/



.container {
    max-width: 160rem;
    margin: 0 auto;
    padding: 0 1.5rem;

}

.header {
    background-color: #252830;
    position: relative;
    top:0;
    left: 0;
    width:100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(10, 233, 129);
    
    
}



/* navbar */


.navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}


.logo{
    font-size:2.5rem;
    padding: 0 100px;
}


/* Menu */
/* .menu{
   position: absolute;
   top:8.5rem;
   right: 1.5rem;
   width: 23rem;
   background-color: #252830;
   padding: 1.5rem;
   opacity: 0;
   transform: scale(0);
} */

.list {
    display:flex;
    align-items: center;
    gap: 2rem;
}

/* .menu > .list {
    flex-direction: column;
} */


#toggle-btn {
    margin-right:40px;
    padding: 0 1.5rem;
}

.close-menu-icon {
    display:none;
}

.open-menu-icon {
    display:none;
}

/*  */

.menu.activated {
    opacity: 1;
    transform: scale(1);
}


.menu-icon.activated .open-menu-icon {
    display:none;
}

.menu-icon.activated .close-menu-icon {
    display:block;
}


@media (max-width: 1000px) {


    .open-menu-icon {
            display: inline-block;
    }

    .menu{
        position: absolute;
        top:8.5rem;
        right: 1.5rem;
        width: 23rem;
        background-color: #252830;
        padding: 1.5rem;
        opacity: 0;
        transform: scale(0);
     }

     .menu > .list {
        flex-direction: column;
    }
    
}